Repository quay/quay: changes, and which Tekton pipelines are due for each by the changed paths.
All: quay-b09b0-on-pull-request, quay-master-on-push

quay-b09b0-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/quay-eng-tenant/quay-b09b0:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

quay-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/quay-eng-tenant/quay-master:{{revision}}
  - name: dockerfile
    value: Dockerfile
  pipelineSpec:
  ...

PROJQUAY-11902: fix(web): redesign logo selection for dark mode support (#6218)
  config.py
  static/img/RH_Logo_Quay_White_UX-horizontal.svg
  test/test_frontend_visible_config.py
  web/src/hooks/UseLogo.test.ts
  web/src/hooks/UseLogo.ts
Due: quay-master-on-push

PROJQUAY-11902: test(config): add tests for BRANDING logo_dark config
  test/test_frontend_visible_config.py
Due: quay-master-on-push

PROJQUAY-11902: fix(web): redesign logo selection for dark mode support
  config.py
  static/img/RH_Logo_Quay_White_UX-horizontal.svg
  web/src/hooks/UseLogo.test.ts
  web/src/hooks/UseLogo.ts
Due: quay-master-on-push

fix(#6247): remove dangling Renovate preset reference
  renovate.json
Due: quay-master-on-push

PROJQUAY-11709: deps: Bump golang.org/x/net to version 0.55.0 (#6256)
  config-tool/go.mod
  config-tool/go.sum
Due: quay-master-on-push

QUAYIO-1880: chore(build): update base images to UBI 9.8
  Dockerfile
Due: quay-b09b0-on-pull-request, quay-master-on-push

PROJQUAY-12129: feat(bootstrap): add bootstrap token configuration
  config.py
  features/__init__.pyi
  internal/config/schema_test.go
  util/config/schema.py
  util/config/test/test_schema.py
  web/playwright/e2e/api/smoke.spec.ts
Due: quay-master-on-push

PROJQUAY-12129: test(config): address bootstrap config review comments
  util/config/test/test_schema.py
  web/playwright/e2e/api/smoke.spec.ts
Due: quay-master-on-push

NO-ISSUE: test(playwright): replace podman image helpers
  .github/workflows/ci-web.yaml
  web/playwright/MIGRATION.md
  web/playwright/e2e/api/api-v1-repository.spec.ts
  web/playwright/e2e/api/api-v2.spec.ts
  web/playwright/e2e/repository/cli-interop.spec.ts
  web/playwright/e2e/repository/geo-replication.spec.ts
  web/playwright/e2e/tags/copy-to-clipboard.spec.ts
  web/playwright/e2e/tags/tag-details-layers.spec.ts
  web/playwright/fixtures.ts
  web/playwright/utils/container.ts
Due: quay-master-on-push

QUAYIO-1880: chore(build): update base images to UBI 9.8 (#6270)
  Dockerfile
Due: quay-b09b0-on-pull-request, quay-master-on-push

PROJQUAY-11912: feat(go): support anonymous pulls
  internal/auth/basic.go
  internal/auth/basic_test.go
  internal/cmd/serve.go
  internal/dal/daldb/repository.sql.go
  internal/dal/queries/repository.sql
  internal/registry/distribution/app.go
  internal/registry/distribution/auth.go
  internal/registry/distribution/auth_test.go
  internal/registry/distribution/constants.go
Due: quay-master-on-push

NO-ISSUE: ci(sentinel): skip Python/Web/OCI suites for Go-rewrite paths
  .github/workflows/sentinel.yaml
Due: none

PROJQUAY-12127: feat(auth): add OIDC superuser group sync
  AGENTS.md
  agent_docs/oidc_superuser_sync.md
  data/users/__init__.py
  data/users/externaloidc.py
  local-dev/keycloak/keycloak-config.yaml
  local-dev/keycloak/quay-realm-export.json
  oauth/login_utils.py
  test/test_external_oidc.py
  util/config/superusermanager.py
  util/config/test/test_superusermanager.py
  web/playwright/e2e/superuser/oidc-superuser-sync.spec.ts
Due: quay-master-on-push

PROJQUAY-12129: feat(bootstrap): add bootstrap token configuration (#6272)
  config.py
  features/__init__.pyi
  internal/config/schema_test.go
  util/config/schema.py
  util/config/test/test_schema.py
  web/playwright/e2e/api/smoke.spec.ts
Due: quay-master-on-push

PROJQUAY-11912: feat(go): support anonymous pulls (#6271)
  internal/auth/basic.go
  internal/auth/basic_test.go
  internal/cmd/serve.go
  internal/dal/daldb/repository.sql.go
  internal/dal/queries/repository.sql
  internal/registry/distribution/app.go
  internal/registry/distribution/auth.go
  internal/registry/distribution/auth_test.go
  internal/registry/distribution/constants.go
Due: quay-master-on-push

NO-ISSUE: ci(sentinel): skip Python/Web/OCI suites for Go-rewrite paths (#6273)
  .github/workflows/sentinel.yaml
Due: none

[redhat-3.16] PROJQUAY-11874: fix(cve): CVE-2026-12143 - form-data
  package-lock.json
  package.json
  web/package-lock.json
Due: quay-master-on-push

NO-ISSUE: ci(go): add tiered job dependencies
  .github/workflows/ci-go.yaml
Due: none

NO-ISSUE: ci(python): collapse OCI spec and remove standalone e2e
  .github/workflows/ci-oci-spec.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/sentinel.yaml
Due: none

NO-ISSUE: test(playwright): replace podman image helpers (#6267)
  .github/workflows/ci-web.yaml
  web/playwright/MIGRATION.md
  web/playwright/e2e/api/api-v1-repository.spec.ts
  web/playwright/e2e/api/api-v2.spec.ts
  web/playwright/e2e/repository/cli-interop.spec.ts
  web/playwright/e2e/repository/geo-replication.spec.ts
  web/playwright/e2e/tags/copy-to-clipboard.spec.ts
  web/playwright/e2e/tags/tag-details-layers.spec.ts
  web/playwright/fixtures.ts
  web/playwright/utils/container.ts
Due: quay-master-on-push

[redhat-3.16] PROJQUAY-11874: fix(cve): CVE-2026-12143 - form-data (#6276)
  package-lock.json
  package.json
  web/package-lock.json
Due: quay-master-on-push

PROJQUAY-11874: fix(cve): CVE-2026-12143 - form-data
  package-lock.json
  package.json
  web/package-lock.json
Due: quay-master-on-push

NO-ISSUE: ci(python): collapse OCI spec and remove standalone e2e (#6278)
  .github/workflows/ci-oci-spec.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/sentinel.yaml
Due: none

NO-ISSUE: ci(go): add tiered job dependencies (#6277)
  .github/workflows/ci-go.yaml
Due: none

[redhat-3.15] PROJQUAY-11873: fix(cve): CVE-2026-12143 - form-data (#6281)
  package-lock.json
  package.json
  web/package-lock.json
Due: quay-master-on-push

NO-ISSUE: ci: consolidate workflows into sentinel gate (#6162)
  .github/workflows/README.md
  .github/workflows/ci-go.yaml
  .github/workflows/ci-oci-spec.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/ci-web.yaml
  .github/workflows/config-tool.yaml
  .github/workflows/pull_request_linting.yaml
  .github/workflows/sentinel.yaml
  .github/workflows/web-ci.yaml
  .github/workflows/web-unit-tests.yaml
Due: none

NO-ISSUE: ci: add config-tool back as reusable workflow
  .github/workflows/ci-config-tool.yaml
  .github/workflows/sentinel.yaml
Due: none

NO-ISSUE: ci(sentinel): add config-tool as reusable workflow
  .github/workflows/ci-config-tool.yaml
  .github/workflows/sentinel.yaml
Due: none

NO-ISSUE: ci(sentinel): exclude config-tool from web filter
  .github/workflows/sentinel.yaml
Due: none

NO-ISSUE: ci(go): remove schema-sync and e2e jobs from 3.17
  .github/workflows/ci-go.yaml
Due: none

NO-ISSUE: ci(config-tool): bump test container to golang 1.25.0
  .github/workflows/ci-config-tool.yaml
Due: none

PROJQUAY-11930: fix(build-logs): use API base URL instead of window.location.origin for same-origin check
  web/src/resources/BuildResource.test.ts
  web/src/resources/BuildResource.ts
Due: quay-master-on-push

NO-ISSUE: ci(sentinel): add config-tool as reusable workflow (#6296)
  .github/workflows/ci-config-tool.yaml
  .github/workflows/sentinel.yaml
Due: none

NO-ISSUE: ci(lint): extract lint jobs into ci-lint.yaml
  .flake8
  .github/workflows/ci-lint.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/sentinel.yaml
  .pre-commit-config.yaml
Due: quay-master-on-push

Updated fast-uri to fix CVE-2026-13676
  web/package-lock.json
  web/package.json
  web/pnpm-lock.yaml
Due: quay-master-on-push

chore(deps): update go version to 1.25.0 (PROJQUAY-11712)
  .github/workflows/config-tool.yaml
Due: none

Path conditions:
  quay-b09b0-on-pull-request: ((any of: buildman/***) or (any of: .tekton/quay-b09b0-pull-request.yaml)) or (any of: Dockerfile)
  quay-master-on-push: any of: not (^\.github/) and not (^docs/) and not (^agent_docs/) and not (^\.chglog/) and not (^\.claude/), but not: \.md$
