Repository quay/quay: changes, and which Tekton pipelines are due for each by the changed paths.
All: quay-b09b0-on-pull-request, quay-master-on-push

Path conditions:
  quay-b09b0-on-pull-request: ((any of: buildman/***) or (any of: .tekton/quay-b09b0-pull-request.yaml)) or (any of: Dockerfile)
  quay-master-on-push: any of: not (^\.github/) and not (^docs/) and not (^agent_docs/) and not (^\.chglog/) and not (^\.claude/), but not: \.md$

NO-ISSUE: ci(lint): extract lint jobs into ci-lint.yaml (#6279)
  .flake8
  .github/workflows/ci-lint.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/sentinel.yaml
  .pre-commit-config.yaml
Due: quay-master-on-push

chore(deps): update go version to 1.25.0 (PROJQUAY-11712) (#6305)
  .github/workflows/config-tool.yaml
Due: none

chore(deps): update go version to 1.25.0 (PROJQUAY-11712)
  .github/workflows/config-tool.yaml
Due: none

[redhat-3.14] PROJQUAY-11877: fix(cve): CVE-2026-12143 - form-data
  package-lock.json
  package.json
  web/package-lock.json
Due: quay-master-on-push

[redhat-3.16] PROJQUAY-11712: chore(deps): update go version to 1.25.0 (#6306)
  .github/workflows/config-tool.yaml
Due: none

PROJQUAY-6975: feat(email): allow single email for multiple organizations (#6223)
  data/database.py
  data/migrations/versions/b1a79fa8e630_replace_user_email_unique_constraint_.py
  data/model/organization.py
  data/model/test/test_organization.py
  data/model/user.py
  emails/combinedrecovery.html
  endpoints/api/organization.py
  endpoints/api/test/test_organization.py
  endpoints/api/test/test_user.py
  endpoints/api/user.py
  endpoints/test/test_webhooks.py
  endpoints/webhooks.py
  internal/dal/dbcore/migrate.go
  internal/dal/schema/sqlite/quay_schema.sql
  internal/dal/schema/sqlite/seed_data.sql
  util/test/test_useremails.py
  util/useremails.py
  web/playwright/e2e/auth/signin.spec.ts
  web/playwright/e2e/organization/contact-email.spec.ts
  web/playwright/e2e/organization/create-organization.spec.ts
  web/playwright/e2e/organization/org-list.spec.ts
  web/playwright/e2e/organization/settings.spec.ts
  web/playwright/fixtures.ts
  web/playwright/utils/api/client.ts
  web/src/resources/OrganizationResource.ts
  web/src/routes/OrganizationsList/CreateOrganizationModal.tsx
  web/src/routes/OrganizationsList/Organization/Tabs/Settings/GeneralSettings.tsx
  web/src/routes/Signin/Signin.tsx
Due: quay-master-on-push

[redhat-3.15] PROJQUAY-11712: chore(deps): update go version to 1.25.0 (#6308)
  .github/workflows/config-tool.yaml
Due: none

[redhat-3.12] PROJQUAY-11712: chore(deps): update go version to 1.25.0 (#6311)
  .github/workflows/config-tool.yaml
Due: none

[redhat-3.10] PROJQUAY-11712: chore(deps): update go version to 1.25.0 (#6310)
  .github/workflows/config-tool.yaml
Due: none

[redhat-3.9] PROJQUAY-11712: chore(deps): update go version to 1.25.0 (#6312)
  .github/workflows/config-tool.yaml
Due: none

[redhat-3.14] PROJQUAY-11877: fix(cve): CVE-2026-12143 - form-data (#6307)
  package-lock.json
  package.json
  web/package-lock.json
Due: quay-master-on-push

PROJQUAY-11857: fix(serve): FIPS blob upload failure from unflushed buffer
  Makefile
  internal/cmd/fips_upload_test.go
Due: quay-master-on-push

[redhat-3.12] PROJQUAY-11878: fix(cve): CVE-2026-12143 - form-data
  package-lock.json
  package.json
  web/package-lock.json
Due: quay-master-on-push

PROJQUAY-11857: fix(test): address golangci-lint noctx and gocritic
  internal/cmd/fips_upload_test.go
Due: quay-master-on-push

NO-ISSUE: ci(sentinel): fix path-filter exclusions
  .github/workflows/sentinel.yaml
Due: none

[redhat-3.12] PROJQUAY-11878: fix(cve): CVE-2026-12143 - form-data (#6316)
  package-lock.json
  package.json
  web/package-lock.json
Due: quay-master-on-push

NO-ISSUE: feat(gc): pluggable garbage collection for Go registry rewrite
  internal/cmd/cmd.go
  internal/cmd/gc.go
  internal/cmd/serve.go
  internal/dal/daldb/gc.sql.go
  internal/dal/queries/gc.sql
  internal/gc/gc.go
  internal/gc/gc_test.go
  internal/gc/sqlite_collector.go
  internal/gc/worker.go
  internal/oci/blob.go
  internal/oci/storage/local/chunked.go
Due: quay-master-on-push

[redhat-3.10] PROJQUAY-11871: fix(cve): CVE-2026-12143 - form-data
  package-lock.json
  package.json
  web/package-lock.json
Due: quay-master-on-push

[redhat-3.9] PROJQUAY-11876: fix(cve): CVE-2026-12143 - form-data
  package-lock.json
  package.json
  web/package-lock.json
Due: quay-master-on-push

[redhat-3.10] PROJQUAY-11871: fix(cve): CVE-2026-12143 - form-data (#6319)
  package-lock.json
  package.json
  web/package-lock.json
Due: quay-master-on-push

NO-ISSUE: ci(sentinel): fix path-filter exclusions (#6317)
  .github/workflows/sentinel.yaml
Due: none

[redhat-3.9] PROJQUAY-11876: fix(cve): CVE-2026-12143 - form-data (#6320)
  package-lock.json
  package.json
  web/package-lock.json
Due: quay-master-on-push

PROJQUAY-11912: feat(go): add repository API endpoints
  internal/api/v1/api.go
  internal/api/v1/api_test.go
  internal/api/v1/auth.go
  internal/api/v1/path.go
  internal/api/v1/repository/visibility.go
  internal/api/v1/repository/visibility_test.go
  internal/api/v1/response.go
  internal/api/v1/router.go
  internal/cmd/serve.go
  internal/config/defaults.go
  internal/config/features.go
  internal/config/schema_test.go
  internal/dal/daldb/repository.sql.go
  internal/dal/queries/repository.sql
  internal/repository/dal/authz.go
  internal/repository/dal/store.go
  internal/repository/dal/store_test.go
  internal/repository/errors.go
  internal/repository/service.go
  internal/repository/service_test.go
  internal/repository/types.go
Due: quay-master-on-push

NO-ISSUE: fix(oci): unlink deleted repo blobs
  internal/dal/daldb/storage.sql.go
  internal/dal/metastore/metastore_sqlite.go
  internal/dal/metastore/metastore_sqlite_read_test.go
  internal/dal/queries/storage.sql
  internal/oci/metadata.go
  internal/oci/storage/local/distcompat.go
  internal/oci/storage/local/distcompat_test.go
  internal/registry/distribution/middleware/middleware_test.go
Due: quay-master-on-push

PROJQUAY-12140: feat(bootstrap): add file-based bootstrap token provisioning
  Dockerfile
  Dockerfile.downstream
  boot.py
  data/model/oauth.py
  endpoints/api/organization.py
  endpoints/api/test/test_organization.py
  test/test_bootstrap_startup.py
  util/bootstrap_token.py
  util/test/test_bootstrap_token.py
  web/playwright/e2e/api/api-v1-org-user.spec.ts
Due: quay-b09b0-on-pull-request, quay-master-on-push

test(bootstrap): fix rollback test under postgres
  test/test_bootstrap_startup.py
Due: quay-master-on-push

PROJQUAY-11930: fix(build-logs): use PatternFly CodeBlock for dark mode support
  web/src/routes/Superuser/BuildLogs/BuildLogs.tsx
Due: quay-master-on-push

PROJQUAY-11930: style(build-logs): fix Prettier formatting for dark mode commit
  web/src/routes/Superuser/BuildLogs/BuildLogs.tsx
Due: quay-master-on-push

PROJQUAY-12140: fix(auth): delete bootstrap token file on revocation
  boot.py
  test/test_bootstrap_startup.py
  util/bootstrap_token.py
  util/test/test_bootstrap_token.py
Due: quay-master-on-push

PROJQUAY-11713: deps: Bump golang.org/x/net to version 0.55.0
  config-tool/go.mod
  config-tool/go.sum
Due: quay-master-on-push

PROJQUAY-11930: fix(build-logs): handle archived logs in superuser build logs page (#6216)
  endpoints/api/superuser.py
  endpoints/api/test/test_security.py
  util/test/test_validation.py
  util/validation.py
  web/playwright/e2e/superuser/build-logs.spec.ts
  web/src/resources/BuildResource.test.ts
  web/src/resources/BuildResource.ts
  web/src/routes/Superuser/BuildLogs/BuildLogs.tsx
Due: quay-master-on-push

PROJQUAY-12140: feat(bootstrap): add file-based startup provisioning (#6280)
  Dockerfile
  Dockerfile.downstream
  boot.py
  data/model/oauth.py
  endpoints/api/organization.py
  endpoints/api/test/test_organization.py
  test/test_bootstrap_startup.py
  util/bootstrap_token.py
  util/test/test_bootstrap_token.py
  web/playwright/e2e/api/api-v1-org-user.spec.ts
Due: quay-b09b0-on-pull-request, quay-master-on-push

NO-ISSUE: fix(omr): avoid tag expiry timestamp collisions
  internal/dal/daldb/tag.sql.go
  internal/dal/metastore/metastore_sqlite.go
  internal/dal/metastore/metastore_sqlite_test.go
  internal/dal/queries/tag.sql
Due: quay-master-on-push

PROJQUAY-12080: fix(cve): CVE-2026-13676 - FastUri (#6301)
  web/package-lock.json
  web/package.json
  web/pnpm-lock.yaml
Due: quay-master-on-push

Updated fast-uri to fix CVE-2026-13676
  web/package-lock.json
  web/package.json
  web/pnpm-lock.yaml
Due: quay-master-on-push
