Repository quay/quay: changes, and which Tekton pipelines are due for each by the changed paths.
All: quay-b09b0-on-pull-request, quay-master-on-push

quay-b09b0-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/quay-eng-tenant/quay-b09b0:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

quay-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/quay-eng-tenant/quay-master:{{revision}}
  - name: dockerfile
    value: Dockerfile
  pipelineSpec:
  ...

QUAYIO-1781: database: re-apply advisory locks (#6041)
  data/database.py
  data/model/oci/tag.py
  data/model/oci/test/test_oci_tag.py
Due: quay-master-on-push

NO-ISSUE: feat(buildman): enable container builds in CI with PopenExecutor
  .github/actions/collect-quay-logs/action.yaml
  .github/actions/setup-quay/action.yaml
  .github/workflows/web-playwright-ci.yaml
  .gitignore
  Makefile
  buildman/manager/executor.py
  buildman/manager/test/test_executor.py
  docker-compose.yaml
  local-dev/builds/builds-config.yaml
  web/cypress/e2e/builds.cy.ts
  web/cypress/e2e/superuser-build-logs.cy.ts
  web/playwright/MIGRATION.md
  web/playwright/e2e/repository/builds.spec.ts
  web/playwright/e2e/superuser/build-logs.spec.ts
  web/playwright/fixtures.ts
  web/playwright/utils/api/client.ts
Due: quay-b09b0-on-pull-request, quay-master-on-push

PROJQUAY-11216: fix(mirror): strip skopeo_timeout_interval without rejecting request [redhat-3.14] (#6039)
  endpoints/api/mirror.py
  endpoints/api/test/test_mirror.py
Due: quay-master-on-push

Harden regex so we don't miss escaped quotes
  data/users/externalldap.py
Due: quay-master-on-push

Fix potential ReDoS issue in regex pattern
  data/users/externalldap.py
Due: quay-master-on-push

PROJQUAY-11619: fix(ldap): Redact passwords in LDAP output when USERS_DEBUG=1 is set (#5959)
  data/users/externalldap.py
  test/test_ldap.py
Due: quay-master-on-push

PROJQUAY-11583: feat(test): add geo-replication e2e testing with Garage S3
  .github/actions/setup-quay/action.yaml
  .github/workflows/web-playwright-ci.yaml
  app.py
  docker-compose.yaml
  local-dev/garage/garage.toml
  local-dev/garage/georep-config.yaml
  local-dev/garage/init-garage.sh
  test/test_storage_replication_config.py
  web/playwright/e2e/repository/geo-replication.spec.ts
  web/playwright/fixtures.ts
  web/playwright/utils/container.ts
  web/playwright/utils/s3.ts
Due: quay-master-on-push

NO-ISSUE: fix(ci): use commit status API to fix stale approval check
  .github/workflows/bot-approval-check.yaml
Due: none

PROJQUAY-10589: feat(model): add contact_email CRUD and UUID org email
  data/model/organization.py
  data/model/test/test_organization.py
Due: quay-master-on-push

Revert pre-commit-config changes to match master
  .pre-commit-config.yaml
Due: quay-master-on-push

Revert "NO-ISSUE: ci(workflows): add bot PR approval policy check (#6016)"
  .github/workflows/bot-approval-check.yaml
Due: none

NO-ISSUE: chore(testing): Adding additional e2e tests (#6000)
  web/playwright/e2e/auth/fresh-login.spec.ts
  web/playwright/e2e/auth/oidc-bearer-token.spec.ts
  web/playwright/e2e/organization/org-mirroring.spec.ts
  web/playwright/e2e/organization/robot-accounts.spec.ts
  web/playwright/e2e/tags/manifest-tracks.spec.ts
  web/playwright/e2e/tags/security-scan.spec.ts
  web/playwright/e2e/tags/tag-immutability.spec.ts
  web/playwright/e2e/ui/error-502.spec.ts
  web/playwright/e2e/usage-logs.spec.ts
  web/playwright/fixtures.ts
  web/playwright/global-setup.ts
  web/playwright/utils/api/client.ts
  web/playwright/utils/container.ts
  web/playwright/utils/test-utils.ts
Due: quay-master-on-push

PROJQUAY-10589: fix(compat): backward-compatible email handling and Black formatting
  data/model/organization.py
  data/model/test/test_organization.py
  endpoints/api/organization.py
  endpoints/api/user.py
  util/useremails.py
Due: quay-master-on-push

Add Playwright e2e test for contact email display on org settings
  web/playwright/e2e/organization/settings.spec.ts
Due: quay-master-on-push

NO-ISSUE: chore: Revert "NO-ISSUE: ci(workflows): add bot PR approval policy check (#6016) (#6046)
  .github/workflows/bot-approval-check.yaml
Due: none

Fix org email update to write to contact_email instead of User.email
  endpoints/api/organization.py
Due: quay-master-on-push

NO-ISSUE: test(auth): verify LDAP team sync member population
  web/playwright/e2e/organization/team-sync-ldap.spec.ts
Due: quay-master-on-push

NO-ISSUE: chore(_init): use str.startswith for version line detection
  _init.py
Due: quay-master-on-push

NO-ISSUE: fix(ci): use larger runner for build-and-publish multi-arch job
  .github/workflows/build-and-publish.yaml
Due: none

PROJQUAY-11583: feat(test): add geo-replication e2e testing with Garage S3 (#6008)
  .github/actions/setup-quay/action.yaml
  .github/workflows/web-playwright-ci.yaml
  app.py
  docker-compose.yaml
  local-dev/garage/garage.toml
  local-dev/garage/georep-config.yaml
  local-dev/garage/init-garage.sh
  test/test_storage_replication_config.py
  web/playwright/e2e/repository/geo-replication.spec.ts
  web/playwright/fixtures.ts
  web/playwright/utils/container.ts
  web/playwright/utils/s3.ts
Due: quay-master-on-push

PROJQUAY-10589: refactor(model): remove dead email_required param from create_organization
  data/model/organization.py
  endpoints/api/organization.py
Due: quay-master-on-push

PROJQUAY-10589: fix(api): remove N+1 query in org recovery email lookup
  endpoints/api/user.py
Due: quay-master-on-push

NO-ISSUE: fix(testing): align cherry-picked e2e tests with redhat-3.17 components (#39)
  web/playwright/e2e/api/api-v1-advanced-features.spec.ts
  web/playwright/e2e/organization/org-mirroring.spec.ts
  web/playwright/e2e/superuser/repo-tag-actions.spec.ts
  web/playwright/e2e/usage-logs.spec.ts
Due: quay-master-on-push

NO-ISSUE: fix(ci): use larger runner for build-and-publish multi-arch job (#6049)
  .github/workflows/build-and-publish.yaml
Due: none

NO-ISSUE: fix(ci): prune remote builders before multi-arch build [redhat-3.14]
  .github/workflows/build-and-publish.yaml
Due: none

drop --volumes from docker prune to preserve persistent builder data
  .github/workflows/build-and-publish.yaml
Due: none

[redhat-3.14] NO-ISSUE: fix(ci): use larger runner for build-and-publish multi-arch job (#6054)
  .github/workflows/build-and-publish.yaml
Due: none

NO-ISSUE: test(auth): add LDAP team sync Playwright E2E tests (#5871)
  local-dev/ldap/base.ldif
  local-dev/ldap/init-389ds.sh
  local-dev/ldap/ldap-config.yaml
  web/playwright/e2e/organization/team-sync-ldap.spec.ts
Due: quay-master-on-push

NO-ISSUE: fix(testing): resolve pre-commit lint failures in e2e tests
  web/playwright/e2e/api/api-v1-advanced-features.spec.ts
  web/playwright/e2e/organization/org-mirroring.spec.ts
  web/playwright/e2e/organization/robot-accounts.spec.ts
  web/playwright/e2e/usage-logs.spec.ts
  web/playwright/utils/container.ts
Due: quay-master-on-push

templates: remove hardcoded external CDN references (PROJQUAY-11235)
  static/502.html
  templates/error.html
  templates/generatedtoken.html
  templates/message.html
Due: quay-master-on-push

templates: add regression tests for external CDN references (PROJQUAY-11235)
  endpoints/test/test_template_external_cdn.py
Due: quay-master-on-push

Add a label to enable/disable prometheus metrics scrapping
  deploy/openshift/rosa/quay-py3-deploy-template.yaml
Due: quay-master-on-push

templates: use skipif for rendering tests without fixtures (PROJQUAY-11235)
  endpoints/test/test_template_external_cdn.py
Due: quay-master-on-push

Add test cases covering the artifact and signing workflows for quay repository
  Makefile
  test/registry/cosign_test_helpers.py
  test/registry/protocol_fixtures.py
  test/registry/protocol_v1.py
  test/registry/protocol_v2.py
  test/registry/protocols.py
  test/registry/test_cosign_signatures.py
Due: quay-master-on-push

templates: fix template_folder for rendering tests (PROJQUAY-11235)
  endpoints/test/test_template_external_cdn.py
Due: quay-master-on-push

Path conditions:
  quay-b09b0-on-pull-request: ((any of: buildman/***) or (any of: .tekton/quay-b09b0-pull-request.yaml)) or (any of: Dockerfile)
  quay-master-on-push: any of: not (^\.github/) and not (^docs/) and not (^agent_docs/) and not (^\.chglog/) and not (^\.claude/), but not: \.md$
