Repository quay/quay: changes, and which Tekton pipelines are due for each by the changed paths.
All: quay-b09b0-on-pull-request, quay-master-on-push

quay-b09b0-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/quay-eng-tenant/quay-b09b0:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

quay-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/quay-eng-tenant/quay-master:{{revision}}
  - name: dockerfile
    value: Dockerfile
  pipelineSpec:
  ...

NO-ISSUE: fix(workflows): restructure notification-router for workflow discovery
  notification-router/.ambient/ambient.json
  notification-router/CLAUDE.md
Due: quay-master-on-push

NO-ISSUE: fix(workflows): add code block languages and prompt injection guard
  .ambient/notification-router/CLAUDE.md
Due: none

NO-ISSUE: fix(workflows): guard null comment_url before fetch
  .ambient/notification-router/CLAUDE.md
Due: none

NO-ISSUE: chore(test): unify Playwright tests behind nginx on port 8080
  .github/workflows/web-playwright-ci.yaml
  local-dev/stack/config.yaml
  web/playwright.config.ts
  web/playwright/global-setup.ts
  web/playwright/utils/config.ts
Due: quay-master-on-push

NO-ISSUE: feat(buildman): enable container builds in CI with PopenExecutor
  .github/actions/setup-quay/action.yaml
  .github/workflows/web-playwright-ci.yaml
  .gitignore
  Makefile
  buildman/manager/executor.py
  docker-compose.yaml
  local-dev/builds/builds-config.yaml
  web/playwright/e2e/repository/builds.spec.ts
  web/playwright/fixtures.ts
  web/playwright/utils/api/client.ts
Due: quay-b09b0-on-pull-request, quay-master-on-push

NO-ISSUE: fix(ci): mount Docker socket to both /run/ and /var/run/
  .github/actions/setup-quay/action.yaml
Due: none

NO-ISSUE: fix(buildman): fix CI build setup and add diagnostics
  .github/actions/collect-quay-logs/action.yaml
  .github/actions/setup-quay/action.yaml
  Makefile
  web/playwright/e2e/repository/builds.spec.ts
Due: quay-master-on-push

NO-ISSUE: refactor(ci): use Makefile target for quay-builder extraction
  .github/actions/setup-quay/action.yaml
Due: none

NO-ISSUE: fix(ci): revert to chmod 666 for Docker socket
  .github/actions/setup-quay/action.yaml
Due: none

NO-ISSUE: fix(buildman): address CodeRabbit review feedback
  .github/actions/setup-quay/action.yaml
  Makefile
  buildman/manager/executor.py
Due: quay-b09b0-on-pull-request, quay-master-on-push

NO-ISSUE: fix(buildman): mount Docker socket to /run/ for UBI9 symlink compatibility
  .github/actions/collect-quay-logs/action.yaml
  .github/actions/setup-quay/action.yaml
  buildman/manager/executor.py
Due: quay-b09b0-on-pull-request, quay-master-on-push

NO-ISSUE: fix(buildman): mount Docker socket to /opt/ to avoid tmpfs visibility issue
  .github/actions/collect-quay-logs/action.yaml
  .github/actions/setup-quay/action.yaml
  buildman/manager/executor.py
  buildman/manager/test/test_executor.py
Due: quay-b09b0-on-pull-request, quay-master-on-push

NO-ISSUE: test(buildman): add unit tests for PopenExecutor
  buildman/manager/test/test_executor.py
Due: quay-b09b0-on-pull-request, quay-master-on-push

NO-ISSUE: fix(buildman): add /run/ listing and /proc/mounts diagnostics for socket debugging
  buildman/manager/executor.py
Due: quay-b09b0-on-pull-request, quay-master-on-push

NO-ISSUE: fix(test): clean stale assets before deploying React to static/patternfly
  web/playwright.config.ts
Due: quay-master-on-push

NO-ISSUE: fix(test): revert DEFAULT_UI change in local-dev config
  local-dev/stack/config.yaml
Due: quay-master-on-push

NO-ISSUE: fix(workflows): only route notifications from repo collaborators
  .ambient/notification-router/CLAUDE.md
Due: none

fix(tests): address CodeRabbit review comments on quota enforcement tests
  endpoints/v2/test/test_quota_enforcement.py
  test/integration/test_quota_ocp.py
  web/playwright/e2e/organization/quota.spec.ts
Due: quay-master-on-push

refactor(tests): remove dead code and add request timeouts
  endpoints/v2/test/test_quota_enforcement.py
  test/integration/test_quota_ocp.py
Due: quay-master-on-push

fix(tests): remove OCP integration tests and improve Playwright quota test
  test/integration/__init__.py
  test/integration/test_quota_ocp.py
  web/playwright/e2e/organization/quota.spec.ts
Due: quay-master-on-push

perf(tests): fix N+1 query patterns in notification checking
  endpoints/v2/test/test_quota_enforcement.py
Due: quay-master-on-push

PROJQUAY-11393: test(v2): add quota enforcement integration tests for V2 registry push operations
  endpoints/v2/test/test_quota_enforcement.py
  test/integration/__init__.py
  test/integration/test_quota_ocp.py
  web/playwright/e2e/organization/quota.spec.ts
Due: quay-master-on-push

fix(tests): resolve Playwright E2E failures and formatting issues
  endpoints/v2/test/test_quota_enforcement.py
  web/playwright/e2e/organization/quota.spec.ts
Due: quay-master-on-push

PROJQUAY-11393: fix(test): add Flask app context to threaded quota tests
  endpoints/v2/test/test_quota_enforcement.py
Due: quay-master-on-push

Remove old deployment templates
  deploy/openshift/quay-app.yaml
  deploy/openshift/quay-py3-app.yaml
  deploy/openshift/quay-py3-cloudflare-app.yaml
  deploy/openshift/quay-py3-deploy-template.yaml
  deploy/openshift/quay-recovery-endpoint.yaml
Due: quay-master-on-push

test: add E2E tests for security scan-on-push lifecycle (PROJQUAY-11460)
  test/integration/test_secscan_real.sh
  test/test_secscan_e2e.py
  web/playwright/e2e/security/scan-lifecycle.spec.ts
Due: quay-master-on-push

PROJQUAY-11393: fix(test): mark concurrent performance test as xfail
  endpoints/v2/test/test_quota_enforcement.py
Due: quay-master-on-push

NO-ISSUE: feat(test): add mock GitHub OAuth server for real OAuth CI coverage
  .github/actions/setup-quay/action.yaml
  .github/workflows/web-playwright-ci.yaml
  docker-compose.yaml
  local-dev/mock-github/Dockerfile
  local-dev/mock-github/github-config.yaml
  local-dev/mock-github/server.py
  web/playwright/e2e/auth/github-login.spec.ts
  web/playwright/e2e/auth/oauth-callback.spec.ts
  web/playwright/e2e/superuser/repo-tag-actions.spec.ts
Due: quay-master-on-push

Add a dyntrace deployment annotation
  deploy/openshift/rosa/quay-py3-deploy-template.yaml
Due: quay-master-on-push

PROJQUAY-11393: fix(test): fix Playwright E2E selectors and add EDIT_QUOTA tag
  web/playwright/e2e/organization/quota.spec.ts
Due: quay-master-on-push

NO-ISSUE: feat(workflow): resolve session author to GitHub user for PR assignment
  .claude/scripts/resolve-github-user.sh
  .claude/skills/pr/SKILL.md
Due: none

NO-ISSUE: fix(test): fix black/isort formatting in mock-github server
  local-dev/mock-github/server.py
Due: quay-master-on-push

NO-ISSUE: chore: add annotation to enable dynatrace APM (#5885)
  deploy/openshift/quay-app.yaml
  deploy/openshift/quay-py3-app.yaml
  deploy/openshift/quay-py3-cloudflare-app.yaml
  deploy/openshift/quay-py3-deploy-template.yaml
  deploy/openshift/quay-recovery-endpoint.yaml
  deploy/openshift/rosa/quay-py3-deploy-template.yaml
Due: quay-master-on-push

[redhat-3.17] PROJQUAY-11442: fix(ui): fix manifest track line on unrelated pages (#5883)
  web/src/routes/RepositoryDetails/Tags/TagsTable.tsx
Due: quay-master-on-push

proxy: add comprehensive tests for storage verification paths (PROJQUAY-10315)
  data/registry_model/test/test_registry_proxy_model.py
  workers/test/test_proxycacheblobworker.py
Due: quay-master-on-push

proxy: fix black formatting in worker test (PROJQUAY-10315)
  workers/test/test_proxycacheblobworker.py
Due: quay-master-on-push

NO-ISSUE: fix(workflow): add user mapping file and prefix matching for author resolution
  .claude/scripts/resolve-github-user.sh
  .claude/skills/pr/SKILL.md
  .claude/user-map.yaml
Due: none

NO-ISSUE: refactor(workflow): drop OWNERS fuzzy matching, use explicit user map only
  .claude/scripts/resolve-github-user.sh
  .claude/user-map.yaml
Due: none

NO-ISSUE: fix(test): use network_mode service:quay for mock-github
  docker-compose.yaml
  local-dev/mock-github/github-config.yaml
Due: quay-master-on-push

PROJQUAY-11461: chore(ci): harden GitHub Actions security across all workflows
  .github/actions/collect-quay-logs/action.yaml
  .github/actions/setup-quay/action.yaml
  .github/dependabot.yml
  .github/workflows/CI-nightly.yaml
  .github/workflows/CI.yaml
  .github/workflows/aws-ip-json.yaml
  .github/workflows/branch-sync.yaml
  .github/workflows/build-and-publish.yaml
  .github/workflows/codeql.yml
  .github/workflows/config-tool.yaml
  .github/workflows/cut-release.yml
  .github/workflows/go.yaml
  .github/workflows/label-backported-pr.yml
  .github/workflows/oci-distribution-spec.yaml
  .github/workflows/playwright-report-cleanup.yaml
  .github/workflows/playwright-report-deploy.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/pr-status-labeler.yaml
  .github/workflows/prepare-release.yml
  .github/workflows/pull_request_linting.yaml
  .github/workflows/renovate-pybuild-deps.yaml
  .github/workflows/surge-preview-cleanup.yaml
  .github/workflows/web-ci-results.yaml
  .github/workflows/web-ci.yaml
  .github/workflows/web-playwright-ci.yaml
  .github/workflows/web-unit-tests.yaml
Due: none

Path conditions:
  quay-b09b0-on-pull-request: ((any of: buildman/***) or (any of: .tekton/quay-b09b0-pull-request.yaml)) or (any of: Dockerfile)
  quay-master-on-push: any of: not (^\.github/) and not (^docs/) and not (^agent_docs/) and not (^\.chglog/) and not (^\.claude/), but not: \.md$
