Repository quay/quay: changes, and which Tekton pipelines are due for each by the changed paths.
All: quay-b09b0-on-pull-request, quay-master-on-push

quay-b09b0-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/quay-eng-tenant/quay-b09b0:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

quay-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/quay-eng-tenant/quay-master:{{revision}}
  - name: dockerfile
    value: Dockerfile
  pipelineSpec:
  ...

PROJQUAY-12356: fix(mirroring): prevent SSRF in repository sources
  data/model/repo_mirror.py
  data/model/test/test_repo_mirroring.py
  endpoints/api/mirror.py
  endpoints/api/test/test_mirror.py
  util/config/schema.py
  util/security/ssrf.py
  util/security/test/test_ssrf.py
  workers/repomirrorworker/__init__.py
  workers/repomirrorworker/test/test_repomirrorworker.py
Due: quay-master-on-push

PROJQUAY-12352: fix(mirroring): prevent SSRF in repository sources
  data/model/repo_mirror.py
  data/model/test/test_repo_mirroring.py
  endpoints/api/mirror.py
  endpoints/api/test/test_mirror.py
  util/config/schema.py
  util/security/ssrf.py
  util/security/test/test_ssrf.py
  workers/repomirrorworker/__init__.py
  workers/repomirrorworker/test/test_repomirrorworker.py
Due: quay-master-on-push

NO-ISSUE: refactor(distribution): isolate middleware metrics
  internal/cmd/serve.go
  internal/registry/distribution/app.go
  internal/registry/distribution/app_test.go
  internal/registry/distribution/middleware/blob.go
  internal/registry/distribution/middleware/manifest.go
  internal/registry/distribution/middleware/metrics.go
  internal/registry/distribution/middleware/metrics_test.go
  internal/registry/distribution/middleware/middleware.go
  internal/registry/distribution/middleware/middleware_test.go
  internal/registry/distribution/middleware/tag.go
Due: quay-master-on-push

Expanded manifest test to include 2 unique child manifests and 3 copies to verify deduplication works properly
  data/model/oci/test/test_oci_manifest.py
Due: quay-master-on-push

Correct wrong variable name
  config-tool/pkg/lib/fieldgroups/cache/cache_structs.go
  config-tool/pkg/lib/fieldgroups/cache/cache_test.go
Due: quay-master-on-push

PROJQUAY-8202: fix: Don't raise a 500 when basic auth is provided on Oauth requests (#6708)
  endpoints/web.py
  test/test_endpoints.py
Due: quay-master-on-push

Adjusted comment to match expected behavior
  data/model/oci/test/test_oci_manifest.py
Due: quay-master-on-push

PROJQUAY-12456: feat(ui): display nightly build info in help dropdown
  Dockerfile
  Dockerfile.downstream
  _init.py
  test/test_version.py
  web/playwright/e2e/ui/help-menu.spec.ts
  web/src/components/header/HeaderToolbar.tsx
Due: quay-b09b0-on-pull-request, quay-master-on-push

PROJQUAY-12456: fix(lint): apply black formatting to test_version.py
  test/test_version.py
Due: quay-master-on-push

PROJQUAY-12456: fix(review): address CodeRabbit review feedback
  Dockerfile
  Dockerfile.downstream
  web/playwright/e2e/ui/help-menu.spec.ts
  web/src/components/header/HeaderToolbar.tsx
Due: quay-b09b0-on-pull-request, quay-master-on-push

PROJQUAY-12456: fix(build): use per-minute timestamp for unique nightly versions
  Dockerfile
  Dockerfile.downstream
  test/test_version.py
Due: quay-b09b0-on-pull-request, quay-master-on-push

PROJQUAY-12456: fix(test): query anchor inside DropdownItem for href assertion
  web/playwright/e2e/ui/help-menu.spec.ts
Due: quay-master-on-push

PROJQUAY-12456: refactor(ui): move docs and version from footer to help dropdown
  web/playwright/e2e/ui/footer.spec.ts
  web/src/components/LoginFooter.tsx
  web/src/components/footer/QuayFooter.tsx
Due: quay-master-on-push

api: allow attaching external group id on team create/update (RFE-8184)
  endpoints/api/team.py
  endpoints/api/test/test_team.py
Due: quay-master-on-push

NO-ISSUE: fix(ci): restore Playwright report deploy after workflow consolidation
  .github/workflows/playwright-report-deploy.yaml
  scripts/playwright-debug.sh
Due: quay-master-on-push

PROJQUAY-12456: fix(test): skip footer tests when no footer items configured
  web/playwright/e2e/ui/footer.spec.ts
Due: quay-master-on-push

PROJQUAY-10610: fix(web): enable anonymous browsing of public repos in React UI
  web/playwright/e2e/auth/anonymous-access.spec.ts
  web/playwright/e2e/auth/logout.spec.ts
  web/playwright/fixtures.ts
  web/src/components/header/HeaderToolbar.test.tsx
  web/src/components/header/HeaderToolbar.tsx
  web/src/components/notifications/NotificationDrawerList.test.tsx
  web/src/components/notifications/NotificationDrawerList.tsx
  web/src/hooks/UseRepositories.test.ts
  web/src/hooks/UseRepositories.ts
  web/src/hooks/UseRepository.ts
  web/src/hooks/UseTeams.ts
  web/src/hooks/useAppNotifications.ts
  web/src/libs/axios.test.ts
  web/src/libs/axios.ts
  web/src/resources/RepositoryResource.test.ts
  web/src/resources/RepositoryResource.ts
  web/src/resources/UserResource.test.ts
  web/src/resources/UserResource.ts
  web/src/routes/OrganizationsList/OrganizationToolBar.test.tsx
  web/src/routes/OrganizationsList/OrganizationToolBar.tsx
  web/src/routes/OrganizationsList/OrganizationsList.tsx
  web/src/routes/ProtectedRepositoryRoute.test.tsx
  web/src/routes/ProtectedRepositoryRoute.tsx
  web/src/routes/RepositoriesList/RepositoriesList.tsx
  web/src/routes/RepositoryDetails/RepositoryDetails.test.tsx
  web/src/routes/RepositoryDetails/RepositoryDetails.tsx
  web/src/routes/StandaloneMain.tsx
Due: quay-master-on-push

NO-ISSUE: fix(ci): restore Playwright report deploy after workflow consolidation (#6714)
  .github/workflows/playwright-report-deploy.yaml
  scripts/playwright-debug.sh
Due: quay-master-on-push

QUAYIO-1826: feat(gc): add configurable grace period for namespace deletion
  config.py
  data/model/test/test_user.py
  data/model/user.py
  internal/config/schema_test.go
  util/config/schema.py
Due: quay-master-on-push

PROJQUAY-10068: fix: Make sure we deduplicate child manifest entries when inserting them into the database (#6712)
  data/model/oci/manifest.py
  data/model/oci/test/test_oci_manifest.py
  data/registry_model/test/test_registry_proxy_model.py
Due: quay-master-on-push

PROJQUAY-12474: refactor(distribution): isolate middleware metrics (#6711)
  internal/cmd/serve.go
  internal/registry/distribution/app.go
  internal/registry/distribution/app_test.go
  internal/registry/distribution/middleware/blob.go
  internal/registry/distribution/middleware/manifest.go
  internal/registry/distribution/middleware/metrics.go
  internal/registry/distribution/middleware/metrics_test.go
  internal/registry/distribution/middleware/middleware.go
  internal/registry/distribution/middleware/middleware_test.go
  internal/registry/distribution/middleware/tag.go
Due: quay-master-on-push

refactor(features): centralize effective feature resolution
  internal/cmd/serve.go
  internal/config/defaults.go
  internal/features/features.go
  internal/features/features_test.go
  internal/registry/distribution/app.go
Due: quay-master-on-push

docs(migration): remove handoff design
  internal/dal/schema/sqlite/MIGRATION_HANDOFF_DESIGN.md
Due: none

refactor(config): resolve features in config
  internal/cmd/serve.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/config/features.go
  internal/config/resolve.go
  internal/features/features.go
  internal/features/features_test.go
  internal/migrate/copy.go
  internal/migrate/copy_test.go
Due: quay-master-on-push

fix(config): preserve standalone feature defaults
  internal/config/config_test.go
  internal/config/resolve.go
Due: quay-master-on-push

NO-ISSUE: fix(build): drop pyroscope-io for s390x community builds
  Dockerfile
Due: quay-b09b0-on-pull-request, quay-master-on-push

NO-ISSUE: fix(build): drop pyroscope-io for s390x community builds (#6728)
  Dockerfile
Due: quay-b09b0-on-pull-request, quay-master-on-push

[redhat-3.18] NO-ISSUE: fix(build): drop pyroscope-io for s390x community builds (#6729)
  Dockerfile
Due: quay-b09b0-on-pull-request, quay-master-on-push

PROJQUAY-12474: refactor(features): centralize effective feature resolution (#6727)
  internal/cmd/serve.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/config/features.go
  internal/config/resolve.go
  internal/migrate/copy.go
  internal/migrate/copy_test.go
  internal/registry/distribution/app.go
Due: quay-master-on-push

PROJQUAY-12455: fix(cve): CVE-2026-45623 - postcss
  web/package-lock.json
Due: quay-master-on-push

PROJQUAY-12493: fix(go): remove change-visibility API handler
  internal/api/v1/repository/repository.go
  internal/api/v1/repository/repository_test.go
  internal/api/v1/repository/visibility.go
Due: quay-master-on-push

QUAYIO-1935: chore(deps): bump soupsieve to address CVE-2026-49477
  requirements.txt
Due: quay-master-on-push

PROJQUAY-12493: fix(go): remove change-visibility API handler (#6732)
  internal/api/v1/repository/repository.go
  internal/api/v1/repository/repository_test.go
  internal/api/v1/repository/visibility.go
Due: quay-master-on-push

fix: resolve conflict resolution artifacts (missing import and duplicate method)
  endpoints/api/mirror.py
  endpoints/api/test/test_mirror.py
Due: quay-master-on-push

Path conditions:
  quay-b09b0-on-pull-request: ((any of: buildman/***) or (any of: .tekton/quay-b09b0-pull-request.yaml)) or (any of: Dockerfile)
  quay-master-on-push: any of: not (^\.github/) and not (^docs/) and not (^agent_docs/) and not (^\.chglog/) and not (^\.claude/), but not: \.md$
