Repository quay/quay: changes, and which Tekton pipelines are due for each by the changed paths.
All: quay-b09b0-on-pull-request, quay-master-on-push

quay-b09b0-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/quay-eng-tenant/quay-b09b0:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

quay-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/quay-eng-tenant/quay-master:{{revision}}
  - name: dockerfile
    value: Dockerfile
  pipelineSpec:
  ...

PROJQUAY-12154: docs: add security guidelines (#6372)
  .github/CONTRIBUTING.md
  README.md
  SECURITY.md
Due: none

PROJQUAY-12192: feat(oauth): add token metadata and audit foundation (#6446)
  data/database.py
  data/migrations/test/test_oauth_api_token_metadata.py
  data/migrations/versions/d064a4f00d4a_add_oauth_api_token_metadata_and_audit_.py
  data/model/test/test_oauth.py
  initdb.py
  internal/dal/daldb/models.go
  internal/dal/dbcore/migrate.go
  internal/dal/dbcore/migrate_test.go
  internal/dal/schema/sqlite/quay_schema.sql
  internal/dal/schema/sqlite/seed_data.sql
Due: quay-master-on-push

v3.16.5 Changelog Bump (#6451)
  CHANGELOG.md
  CHANGELOG.mdn
Due: quay-master-on-push

PROJQUAY-12193: feat(oauth): track token last-used metadata
  config.py
  data/model/oauth.py
  data/model/test/test_oauth.py
  util/config/schema.py
Due: quay-master-on-push

NO-ISSUE: fix(build): make schema dump emit deterministic DDL ordering
  Makefile
  internal/dal/schema/sqlite/quay_schema.sql
  tools/deterministic_schema_dump.py
  tools/test_deterministic_schema_dump.py
Due: quay-master-on-push

fix: propagate backend errors through statMetadata in Stat calls
  internal/oci/storage/local/distcompat.go
  internal/oci/storage/local/distcompat_test.go
Due: quay-master-on-push

feat(secscan): create PENDING ManifestSecurityStatus at push time
  .github/workflows/ci-web.yaml
  data/database.py
  data/fields.py
  data/migrations/versions/f77bb557a345_add_error_count_to_manifestsecuritystatus.py
  data/model/oci/manifest.py
  data/model/oci/test/test_oci_manifest.py
  data/secscan_model/secscan_v4_model.py
  data/secscan_model/secscan_v4_model_v2.py
  data/secscan_model/test/test_secscan_interface.py
  data/secscan_model/test/test_secscan_v4_model.py
  data/secscan_model/test/test_secscan_v4_model_v2.py
  data/test/test_fields.py
  internal/dal/daldb/models.go
  internal/dal/dbcore/migrate.go
  internal/dal/schema/sqlite/quay_schema.sql
  internal/dal/schema/sqlite/seed_data.sql
  util/metrics/prometheus.py
  web/playwright/e2e/tags/security-scan.spec.ts
Due: quay-master-on-push

PROJQUAY-11857: feat(referrers): implement OCI referrers API for Go registry (#6385)
  .github/workflows/ci-go.yaml
  internal/cmd/serve.go
  internal/config/defaults.go
  internal/config/features.go
  internal/config/schema_test.go
  internal/dal/daldb/manifest.sql.go
  internal/dal/metastore/metastore_sqlite.go
  internal/dal/metastore/metastore_sqlite_test.go
  internal/dal/queries/manifest.sql
  internal/oci/metadata.go
  internal/registry/distribution/middleware/manifest.go
  internal/registry/distribution/middleware/middleware_test.go
  internal/registry/distribution/middleware/subject.go
  internal/registry/referrers.go
  internal/registry/referrers_test.go
Due: quay-master-on-push

fix(proxy): serve cached images when upstream registry is unavailable (PROJQUAY-8440)
  data/registry_model/registry_proxy_model.py
  endpoints/v2/test/test_manifest_pullthru.py
  proxy/__init__.py
  proxy/test_proxy.py
Due: quay-master-on-push

PROJQUAY-12193: feat(oauth): track token last-used metadata (#6453)
  config.py
  data/model/oauth.py
  data/model/test/test_oauth.py
  util/config/schema.py
Due: quay-master-on-push

Fixing issues from @Bcaton review
  data/logs_model/splunk_logs_model.py
  endpoints/api/superuser.py
  endpoints/api/test/test_mirrorhealth.py
Due: quay-master-on-push

Fixing CI failures while keeping performe_email in a conditional
  data/logs_model/splunk_logs_model.py
  data/logs_model/test/test_splunk.py
Due: quay-master-on-push

NO-ISSUE: fix(oci): add missing ListReferrers stub to errStubMetaStore test mock
  internal/oci/storage/local/distcompat_test.go
Due: quay-master-on-push

NO-ISSUE: fix(oci): add missing ListReferrers stub to errStubMetaStore test mock (#6459)
  internal/oci/storage/local/distcompat_test.go
Due: quay-master-on-push

fix: eslint
  web/playwright/e2e/organization/oauth-applications.spec.ts
Due: quay-master-on-push

fix(oauth): address review feedback - default FEATURE_PUBLIC_OAUTH_APPS to False with security note
  config.py
  util/config/schema.py
Due: quay-master-on-push

fix(oauth): constrain public app authorization
  data/model/oauth.py
  data/model/test/test_oauth.py
  data/model/test/test_oauth_public_apps.py
  endpoints/web.py
  test/test_endpoints.py
Due: quay-master-on-push

test(e2e): non-public oauth app authorization
  web/playwright/e2e/organization/oauth-applications.spec.ts
Due: quay-master-on-push

test(public-oauth): add to go schema test, skip e2e test when feature enabled
  internal/config/schema_test.go
  util/config/schema.py
  web/playwright/e2e/organization/oauth-applications.spec.ts
  web/playwright/fixtures.ts
Due: quay-master-on-push

test(oauth): add to validate non-admin user cannot create oauth apps
  local-dev/stack/config.yaml
  web/playwright/e2e/organization/oauth-applications.spec.ts
Due: quay-master-on-push

feat(oauth): allow any authenticated user to authorize OAuth apps
  config.py
  data/model/oauth.py
  data/model/test/test_oauth_public_apps.py
  endpoints/web.py
  features/__init__.pyi
Due: quay-master-on-push

PROJQUAY-12196: test(notifications): add build_start webhook E2E test
  web/playwright/e2e/repository/notifications.spec.ts
Due: quay-master-on-push

PROJQUAY-12196: fix(buildman): fire build_start notification on phase transition (#6443)
  buildman/manager/ephemeral.py
  web/playwright/e2e/repository/notifications.spec.ts
Due: quay-b09b0-on-pull-request, quay-master-on-push

PROJQUAY-12196: fix(buildman): fire build_start notification on phase transition
  buildman/manager/ephemeral.py
Due: quay-b09b0-on-pull-request, quay-master-on-push

test(playwright): enforce superuser fixture tags
  .github/workflows/ci-web.yaml
  web/package.json
  web/playwright/MIGRATION.md
  web/playwright/e2e/api/api-v1-advanced-features.spec.ts
  web/playwright/e2e/api/api-v1-immutability.spec.ts
  web/playwright/e2e/api/api-v1-mirror-health.spec.ts
  web/playwright/e2e/api/api-v1-org-user.spec.ts
  web/playwright/e2e/api/api-v1-repo-features.spec.ts
  web/playwright/e2e/api/api-v1-repository.spec.ts
  web/playwright/e2e/api/api-v1-superuser-exclusive.spec.ts
  web/playwright/e2e/auth/create-account.spec.ts
  web/playwright/e2e/auth/fresh-login-oidc.spec.ts
  web/playwright/e2e/auth/fresh-login.spec.ts
  web/playwright/e2e/auth/logout.spec.ts
  web/playwright/e2e/auth/signin.spec.ts
  web/playwright/e2e/organization/autoprune-policies.spec.ts
  web/playwright/e2e/organization/oauth-applications.spec.ts
  web/playwright/e2e/organization/org-list.spec.ts
  web/playwright/e2e/organization/quota.spec.ts
  web/playwright/e2e/organization/team-members.spec.ts
  web/playwright/e2e/organization/team-sync-ldap.spec.ts
  web/playwright/e2e/organization/team-sync.spec.ts
  web/playwright/e2e/superuser/framework.spec.ts
  web/playwright/e2e/tags/tag-immutability.spec.ts
  web/playwright/e2e/usage-logs.spec.ts
  web/playwright/e2e/user/account-settings.spec.ts
  web/playwright/e2e/user/update-user.spec.ts
  web/playwright/ensure-superuser-tags.cjs
Due: quay-master-on-push

test(playwright): generalize required usage tag checker
  .github/workflows/ci-web.yaml
  web/package.json
  web/playwright/MIGRATION.md
  web/playwright/e2e/repository/notifications.spec.ts
  web/playwright/e2e/repository/webhook-delivery.spec.ts
  web/playwright/e2e/usage-logs.spec.ts
  web/playwright/ensure-required-tags.cjs
Due: quay-master-on-push

test(playwright): address superuser tag checker review
  web/playwright/ensure-superuser-tags.cjs
Due: quay-master-on-push

test(playwright): tag rebased webhook notification test
  web/playwright/e2e/repository/notifications.spec.ts
Due: quay-master-on-push

NO-ISSUE: test(playwright): enforce required usage tags (#6455)
  .github/workflows/ci-web.yaml
  web/package.json
  web/playwright/MIGRATION.md
  web/playwright/e2e/api/api-v1-advanced-features.spec.ts
  web/playwright/e2e/api/api-v1-immutability.spec.ts
  web/playwright/e2e/api/api-v1-mirror-health.spec.ts
  web/playwright/e2e/api/api-v1-org-user.spec.ts
  web/playwright/e2e/api/api-v1-repo-features.spec.ts
  web/playwright/e2e/api/api-v1-repository.spec.ts
  web/playwright/e2e/api/api-v1-superuser-exclusive.spec.ts
  web/playwright/e2e/auth/create-account.spec.ts
  web/playwright/e2e/auth/fresh-login-oidc.spec.ts
  web/playwright/e2e/auth/fresh-login.spec.ts
  web/playwright/e2e/auth/logout.spec.ts
  web/playwright/e2e/auth/signin.spec.ts
  web/playwright/e2e/organization/autoprune-policies.spec.ts
  web/playwright/e2e/organization/oauth-applications.spec.ts
  web/playwright/e2e/organization/org-list.spec.ts
  web/playwright/e2e/organization/quota.spec.ts
  web/playwright/e2e/organization/team-members.spec.ts
  web/playwright/e2e/organization/team-sync-ldap.spec.ts
  web/playwright/e2e/organization/team-sync.spec.ts
  web/playwright/e2e/repository/notifications.spec.ts
  web/playwright/e2e/repository/webhook-delivery.spec.ts
  web/playwright/e2e/superuser/framework.spec.ts
  web/playwright/e2e/tags/tag-immutability.spec.ts
  web/playwright/e2e/usage-logs.spec.ts
  web/playwright/e2e/user/account-settings.spec.ts
  web/playwright/e2e/user/update-user.spec.ts
  web/playwright/ensure-required-tags.cjs
Due: quay-master-on-push

NO-ISSUE: docs(playwright): refactor MIGRATION.md into AGENTS.md
  AGENTS.md
  web/playwright/AGENTS.md
  web/playwright/MIGRATION.md
Due: none

Solution for #6452: Make SQLite schema dump generator emit deterministic index a
  path/to/Makefile
  path/to/db/db.go
  path/to/db/db_test.go
  path/to/internal/dal/schema/sqlite/quay_schema.go
  path/to/internal/dal/schema/sqlite/table_metadata.go
  path/to/main.go
Due: quay-master-on-push

address review feedback
  web/playwright/AGENTS.md
Due: none

Solution for #6464: Add Python unit test for build_start notification in ephemer
  buildman/jobutil/buildjob.py
  buildman/manager/ephemeral.py
  buildman/test/test_buildman.py
Due: quay-b09b0-on-pull-request, quay-master-on-push

NO-ISSUE: docs(playwright): refactor MIGRATION.md into AGENTS.md (#6468)
  AGENTS.md
  web/playwright/AGENTS.md
  web/playwright/MIGRATION.md
Due: none

test(buildman): add unit test for build_start notification on BUILDING
  buildman/test/test_buildman.py
Due: quay-b09b0-on-pull-request, quay-master-on-push

NO-ISSUE: docs(#6471): add fixture reference table to playwright AGENTS.md
  web/playwright/AGENTS.md
Due: none

NO-ISSUE: docs(#6470): expand TestApi methods table to all 22 methods
  web/playwright/AGENTS.md
Due: none

test(oauth): cover public app code flow
  test/test_endpoints.py
  web/playwright/e2e/organization/oauth-applications.spec.ts
  web/playwright/fixtures.ts
Due: quay-master-on-push

NO-ISSUE: fix: restore internal_manifest_bytes as Bytes on cache deserialization
  data/registry_model/registry_oci_model.py
  data/registry_model/test/test_interface.py
Due: quay-master-on-push

Path conditions:
  quay-b09b0-on-pull-request: ((any of: buildman/***) or (any of: .tekton/quay-b09b0-pull-request.yaml)) or (any of: Dockerfile)
  quay-master-on-push: any of: not (^\.github/) and not (^docs/) and not (^agent_docs/) and not (^\.chglog/) and not (^\.claude/), but not: \.md$
