Repository quay/quay: changes, and which Tekton pipelines are due for each by the changed paths.
All: quay-b09b0-on-pull-request, quay-master-on-push

Path conditions:
  quay-b09b0-on-pull-request: ((any of: buildman/***) or (any of: .tekton/quay-b09b0-pull-request.yaml)) or (any of: Dockerfile)
  quay-master-on-push: any of: not (^\.github/) and not (^docs/) and not (^agent_docs/) and not (^\.chglog/) and not (^\.claude/), but not: \.md$

[redhat-3.17] QUAYIO-1781: database: re-apply advisory locks (#6041)
  data/database.py
  data/model/oci/tag.py
  data/model/oci/test/test_oci_tag.py
Due: quay-master-on-push

[redhat-3.17] PROJQUAY-11682: fix(autoprune): re-land Cosign tag exclusion with race-safe cascade (#6788)
  data/model/oci/tag.py
  data/model/oci/test/test_oci_tag.py
  web/playwright/e2e/repository/autopruning.spec.ts
  web/playwright/e2e/repository/repository-delete.spec.ts
Due: quay-master-on-push

chore: v3.17.5 changelog bump (PROJQUAY-12771)
  CHANGELOG.md
  CHANGELOG.mdn
Due: quay-master-on-push

QUAYIO-2161: revert(nginx): remove keepalive_timeout 0 on high-traffic registry paths (#6984)
  conf/nginx/server-base.conf.jnj
Due: quay-master-on-push

NO-ISSUE: docs(testing): add performance and infrastructure testing requirements
  agent_docs/testing.md
  agent_docs/workflow.md
Due: none

chore: Add @quay/eus-support to CODEOWNERS for dependency and Dockerfile files
  .github/CODEOWNERS
Due: none

CODEOWNERS: add eus-support team for dependency and Dockerfile files (#6994)
  .github/CODEOWNERS
Due: none

Add a new line to requirements-dev.txt
  requirements-dev.txt
Due: quay-master-on-push

Add new line to requirements-dev.txt
  requirements-dev.txt
Due: quay-master-on-push

CODEOWNERS: add eus-support team for dependency and Dockerfile files (#6995)
  .github/CODEOWNERS
Due: none

PROJQUAY-12753: fix(deps): update fast-uri to >=3.1.4 for CVE-2026-16221 (#6982)
  web/package-lock.json
  web/package.json
  web/pnpm-lock.yaml
Due: quay-master-on-push

[redhat-3.17] NO-ISSUE: feat(testing): isolate PostgreSQL xdist schemas (#6623)
  .github/codecov.yml
  test/fixtures.py
  test/test_fixtures.py
Due: quay-master-on-push

chore: v3.18.1 changelog bump (PROJQUAY-12552)
  CHANGELOG.md
  CHANGELOG.mdn
Due: quay-master-on-push

[redhat-3.18] PROJQUAY-12739: fix(cve): CVE-2026-67320 - bump axios to 1.19.0 (#6920)
  web/package-lock.json
  web/package.json
  web/pnpm-lock.yaml
Due: quay-master-on-push

fix: use --nobest flag for microdnf update and clean metadata before install
  Dockerfile
Due: quay-b09b0-on-pull-request, quay-master-on-push

NO-ISSUE: fix(config): map FEATURE_ENABLE_STALE_MPU_CLEANUP as known-unmapped
  internal/config/schema_test.go
Due: quay-master-on-push

fix deadlock syncing
  data/model/repo_mirror.py
Due: quay-master-on-push

test(e2e): cover superuser organization visibility
  web/playwright/e2e/organization/org-list.spec.ts
Due: quay-master-on-push

add sync_status
  data/model/repo_mirror.py
Due: quay-master-on-push

[redhat-3.17] NO-ISSUE: fix(config): map FEATURE_ENABLE_STALE_MPU_CLEANUP as known-unmapped (#6979)
  internal/config/schema_test.go
Due: quay-master-on-push

chore: add missing vars to knownUnmapped
  internal/config/schema_test.go
Due: quay-master-on-push

[redhat-3.17] PROJQUAY-11682: fix(autoprune): re-land Cosign tag exclusion with race-safe cascade (#6990)
  .github/codecov.yml
  data/database.py
  data/model/oci/tag.py
  data/model/oci/test/test_oci_tag.py
  test/fixtures.py
  test/test_fixtures.py
  web/playwright/e2e/repository/autopruning.spec.ts
  web/playwright/e2e/repository/repository-delete.spec.ts
Due: quay-master-on-push

fix(cve): CVE-2026-54770 - WebOb (PROJQUAY-12831)
  requirements.txt
Due: quay-master-on-push

PROJQUAY-12830: fix(cve): CVE-2026-73646 - bump postcss to 8.5.26
  package-lock.json
  web/package.json
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: quay-master-on-push

QUAYIO-2183: test(auth): add log level regression tests and revert http.py change
  auth/test/test_registry_jwt.py
  util/http.py
Due: quay-master-on-push

QUAYIO-2183: fix(logging): downgrade client-caused bearer token errors from ERROR to WARNING
  auth/registry_jwt_auth.py
  util/http.py
  util/security/registry_jwt.py
Due: quay-master-on-push

QUAYIO-2183: test(auth): add e2e tests for invalid bearer token 401 responses
  web/playwright/e2e/api/api-v2.spec.ts
Due: quay-master-on-push

chore: fix trailing whitespace in changelog files
  CHANGELOG.md
  CHANGELOG.mdn
Due: quay-master-on-push

PROJQUAY-12711: fix(mirrorregistry): avoid tag expiration timestamp collisions (#6972)
  internal/config/schema_test.go
  internal/dal/daldb/tag.sql.go
  internal/dal/metastore/metastore_sqlite.go
  internal/dal/metastore/metastore_sqlite_internal_test.go
  internal/dal/queries/tag.sql
  internal/e2e/mirrorregistry/registry_protocol_test.go
Due: quay-master-on-push

NO-ISSUE: chore(ci): limit fullsend to master branch (#6983)
  .github/workflows/fullsend.yaml
Due: none

PROJQUAY-12843: fix: use --nobest flag for microdnf update and clean metadata before install
  Dockerfile
Due: quay-b09b0-on-pull-request, quay-master-on-push

QUAYIO-2188: feat(secscan): skip Clair indexing for oci.empty artifacts
  data/secscan_model/secscan_v4_model.py
  data/secscan_model/secscan_v4_model_v2.py
  data/secscan_model/test/test_secscan_v4_model.py
  data/secscan_model/test/test_secscan_v4_model_v2.py
Due: quay-master-on-push

PROJQUAY-12843: fix: use --nobest flag for microdnf update and clean metadata before install (#7005)
  Dockerfile
Due: quay-b09b0-on-pull-request, quay-master-on-push

chore: v3.16.6 changelog bump (PROJQUAY-12400)
  CHANGELOG.mdn
Due: quay-master-on-push

PROJQUAY-5080: test(e2e): add Bitbucket trigger CRUD lifecycle test
  web/playwright/e2e/repository/builds.spec.ts
  web/playwright/fixtures.ts
  web/playwright/utils/api/client.ts
Due: quay-master-on-push

PROJQUAY-5080: fix(bitbucket): migrate Bitbucket trigger from API v1.0/OAuth1 to API v2.0/OAuth2
  buildtrigger/bitbuckethandler.py
  buildtrigger/test/bitbucketmock.py
  config-tool/pkg/lib/fieldgroups/bitbucketbuildtrigger/bitbucketbuildtrigger.go
  config-tool/pkg/lib/fieldgroups/bitbucketbuildtrigger/bitbucketbuildtrigger_test.go
  config-tool/pkg/lib/fieldgroups/bitbucketbuildtrigger/bitbucketbuildtrigger_validator.go
  config-tool/utils/generate/schema.json
  config-tool/utils/scripts/dumpschema.py
  endpoints/bitbuckettrigger.py
  endpoints/web.py
  util/config/schema.py
  web.py
Due: quay-master-on-push

PROJQUAY-5080: fix(bitbucket): paginate directory listing and add schema test
  buildtrigger/bitbuckethandler.py
  buildtrigger/test/bitbucketmock.py
  util/config/test/test_schema.py
Due: quay-master-on-push
